<!DOCTYPE html>
<html>
  <head>
    <title>JavascriptClass</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <% if current_user %>
      <%= current_user.email %>님
      <a href="/logout" data-method="delete" data-confirm="로그아웃하시겠습니까?">로그아웃</a>
    <% else %>
      <a href="/signin">로그인</a>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
